.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #030303;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: #f3f7f2;
}

.jumbotron {
    padding: 25em;
    margin: 0px auto;
    background-color: #3c096c;
    color: rgba(10, 7, 1, 0.89);
    height: 10%;
}

.address {
    font-size: 80px;
    margin: 0px;
    color: #0f0f0f;
}

.body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-custom {
    background-color: #f3f7f2;
    color: #3a2e39;
}


/* Modify brand and text color */